{% extends 'includes/fullstructure.html' %}
{% block Content %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/dashboard">Marmalade</a>
    </li>
    <li class="breadcrumb-item active">Overview</li>
  </ol>

  {% include 'adminPages/widgets/logCards.html' %}

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/dashboard">Kitebird</a>
    </li>
    <li class="breadcrumb-item active">Overview</li>
  </ol>

  {% include 'adminPages/widgets/lineGraph.html' %}





{% endblock Content %}


