{% extends 'includes/fullstructure.html' %}
{% block Content %}




<ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/dashboard">Table</a>
    </li>
    <li class="breadcrumb-item active">Mpesa STK Push Request</li>
  </ol>

{% include '/adminPages/tables/mpesaTable.html' %}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/dashboard">Table</a>
    </li>
    <li class="breadcrumb-item active">Card Payment Request</li>
  </ol>



<ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/dashboard">Table</a>
    </li>
    <li class="breadcrumb-item active">Token Requests</li>
  </ol>



{% endblock Content %}