{% extends 'includes/fullstructure.html' %}
{% block Content %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/dashboard">Kitebird</a>
    </li>
    <li class="breadcrumb-item active">Last 60 Requests</li>
  </ol>

  <!-- DataTables Example -->
<div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-table"></i>
      Requests</div>
    <div class="card-body">
      <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Transaction id</th>
                <th>Account</th>
                <th>Request type</th>
                <th>Date & time</th>
            </tr>
        </thead>
        <tbody>
            {% if logs %}

            {% for log in logs["body"] %}
                <tr>
                   <td>{{ log["_id"] }}</td>
                   <td>{{ log["account"] }}</td>
                   <td>{{ log["requestType"] }}</td>
                   <td>{{ admin_date_format(log["timeStamp"]) }}</td>
                </tr>
            {% endfor %}
            
            {% else %}
            
            {% endif %}
        </tbody>
        <tfoot>
            <tr>
                <th>Transaction id</th>
                <th>Phone Number</th>
                <th>Otp issued</th>
                <th>Date & time</th>
            </tr>
        </tfoot>
    </table>
<!-- Datatable example -->



{% endblock Content %}