{% extends "structureadmin.html" %}
{% include "includes/_defaultNav.html" %}
{% block body %}

<body class="bg-dark">
        <div class="container">
          <div class="card mx-auto mt-6">
            <div class="card-header h3 subColor"><p align="center">Choose Payment Method {{ userdata["username"] }}</p></div>
            <div class="card-body lightColor">

                    {% if message %}

                    <div class="alert alert-success alert-dismissible fade show">
                      <strong>Note!</strong> {{ message }}
                      <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                    <br>
                    {% endif %}
                    {% if warning %}

                    <div class="alert alert-warning alert-dismissible fade show">
                      <strong>Note!</strong> {{ warning }}
                      <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                    <br>
                    {% endif %}
                    {% if error %}

                    <div class="alert alert-danger alert-dismissible fade show">
                      <strong>Note!</strong> {{ error }}
                      <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                    <br>
                    {% endif %}
                  
<!-- cards -->
<div class="row">
    <!-- M-pesa -->
    <div class="col-xl-4 col-md-4 col-sm-6 tile">
        <div class="card text-white bg-success o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">
              <!-- <i class="fas fa-fw fa-comments"></i> -->
              <img src="/static/images/mpesa.png" class="mx-auto float-right" alt="Profile pic" width="30%"> 
            </div>
            <div class="mr-5 h3">M-pesa</div>
          </div>
          <a class="card-footer text-white clearfix small z-1" href="#" data-toggle="modal" data-target="#mpesaModal">
            <span class="float-left">Use safaricom's <b>M-pesa</b></span>
            <span class="float-right">
              <i class="fas fa-angle-right"></i>
            </span>
          </a>
        </div>
      </div>

      <!-- Airtel money -->
      <div class="col-xl-4 col-md-4 col-sm-6 tile">
            <div class="card text-white bg-danger o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <!-- <i class="fas fa-fw fa-comments"></i> -->
                  <img src="/static/images/airtel1.jpg" class="mx-auto float-right" alt="Profile pic" width="30%"> 
                </div>
                <div class="mr-5 h3">Airtel Money</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="#" data-toggle="modal" data-target="#myModal">
                <span class="float-left">Use Airtel's <b>airtel money</b></span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>

      <!-- end Airtel money -->
       <!-- Card money -->
       <div class="col-xl-4 col-md-4 col-sm-6 tile">
        <div class="card text-white bg-primary o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">
              <!-- <i class="fas fa-fw fa-comments"></i> -->
              <img src="/static/images/cards.png" class="mx-auto float-right" alt="Profile pic" width="50%"> 
            </div>
            <div class="mr-5 h3">Cards</div>
          </div>
          <a class="card-footer text-white clearfix small z-1" href="#" data-toggle="modal" data-target="#cardModal">
            <span class="float-left">Use bank's <b>Cards</b></span>
            <span class="float-right">
              <i class="fas fa-angle-right"></i>
            </span>
          </a>
        </div>
      </div>

</div>

<!-- end cards -->




  <!-- Mpesa Modal -->
  <div class="modal fade" id="mpesaModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Top Up wallet Via Mpesa</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">

            <div class="container-fluid">
                <form action="" method="POST" class="form-group" name="payment">
                        <span>Phone Number</span>
                    <input type="number" name="phoneNo" value= {{ userdata['phoneNo'] }} required class="form-control">
                    <br>
                    <span>Wallet Number</span>
                    <input type="tel" name="walletNo"  required  class="form-control" value= {{ userdata['wallet'][0]['walletNo'] }}>
                    <br>
                    <span>Amount</span>
                    <input type="number" name="amount" placeholder="Ammount to send" required class="form-control">
                    <br>
                    <input type="" name="paymentMethod" value="mpesa" id="" hidden>
                    <input type="submit" value="Send" name="mpesa" class="form-control btn btn-success">
                </form>

            </div>
          


        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>

  <!-- end mpesa model -->





  <!-- Card Modal -->
  <div class="modal fade" id="cardModal">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Top Up wallet Via Card</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          
          <!-- Modal body -->
          <div class="modal-body">
  
              <div class="container-fluid">
                  <form action="" method="POST" class="form-group" name="Card">
                      <span>Card Number</span>
                      <input type="number" name="cardNo" value="4242424242424242" placeholder="Card Number" required class="form-control">
                      <br>
                      <span>Card Verification Value (cvv)</span>
                      <input type="number" name="cvv" placeholder="CVV value" value="812" required class="form-control">
                      <br>
                      <span>Wallet Number</span>
                      <input type="tel" name="walletNo"  required  class="form-control" value= {{ userdata['wallet'][0]['walletNo'] }}>
                      <br>
                      <span>Amount</span>
                      <input type="number" name="amount" value="10" placeholder="Ammount to send" required class="form-control">
                      <br>
                      <span>Email</span>
                      <input type="email" name="email" placeholder="Emailaddress" required class="form-control">
                      <input type="" name="paymentMethod" value="card" id="" hidden>
                      <br>
                      <input type="submit" value="Send" name="card" class="form-control btn btn-success">
                  </form>
  
              </div>
            
  
  
          </div>
          
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
          
        </div>
      </div>
    </div>
  
    <!-- end card model -->





            </div>
          </div>
        </div>
        </body>




{% endblock %}