{% extends "structure.html" %}
{% block body %} 


<body class="bg-dark">

  <div class="container">
    {% if message %}
    <div class="alert alert-success alert-dismissible fade show mt-5 mx-auto" role="alert">
      <strong>Holy kite! &nbsp;</strong>{{ message }}.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>    
    {% endif %}
    <div class="card card-register mx-auto mt-5">
      
      <div class="card-header"><p align="center"><span class="h3">Create your Account</span></p></div>
      <div class="card-body">

        <form action="" method="POST" class="form-group">
          <input type="text" name="username" id="username" class="form-control" placeholder="Username" required>
          <label for="username">Username</label>
          
          <input type="tel" name="OTP" id="otp" class="form-control" placeholder="Enter OTP" required maxlength="4">
          <label for="otp">OTP</label>

          {% if error %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Sorry!! &nbsp;</strong> {{ error }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>    
          {% endif %}
          
          <input type="password" name="password" id="password" class="form-control" placeholder="Enter Password" required maxlength="20">
          <label for="password">Password</label>
          
          <input type="password" name="cpassword" id="cpassword" class="form-control"  placeholder="Re-Enter Password">
          <label for="cpassword">Confirm Password</label>
          <br>
          <input type="submit" name="create" id="create" value="Submit" class="form-control btn btn-primary">
        </form>


        <!-- <form method="POST" action="">
          <div class="form-group">
            <div class="form-label-group">
              <input type="tel" id="inputEmail" name="phoneNumber" class="form-control" placeholder="Enter email address" required="required" autofocus="autofocus" maxlength="4">
              <label for="inputEmail">Enter Your OTP</label>
              <br>
              <input type="password" id="inputPassword" name="Password" class="form-control" placeholder="Enter password" required="required" maxlength="20">
              <label for="inputPassword">Enter Password</label>
              <input type="password" id="inputCPassword" name="CPassword" class="form-control" placeholder="Confirm password" required="required" maxlength="20">
              <label for="inputCPassword">Confirm Entered password</label>
            </div>
          </div>
          <input type="submit" class="btn btn-primary btn-block" value="Get the otp">
        </form> -->
        <div class="text-center">
          <a class="d-block small" href="/">Login Page</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

</body>




{% endblock %}

