{% extends "structureadmin.html" %}
{% block body %}
<body id="page-top" class="container-fluid padHome">

  <div class="row">
    <div class="col-sm-6">
       <a href="#"> <img src="/static/images/kitebird.png" class="rounded mx-auto d-block img-fluid" alt="Kite"> </a>
    </div>
    <div class="col-sm-6">
      <br><br><br>
        <span class="h1">
          Hello from <b>Kite</b> bird?
        </span>
        <br>
        <span class="h1">
            {{ message }}
          </span>
          <br><br>
        <p class="lead">You can
          <a href="javascript:history.back()" class="btn btn-info">go back</a>
          to the previous page, or
          <a href="/">return home</a>.</p> 

        <p>
          {{ error }}
        </p>
    </div>
  </div>
</div>

  {% endblock %}