{% extends "structureadmin.html" %}
{% block body %} 

<body id="page-top">
  <!-- app Bar -->
  {% include "includes/_adminNav.html" %}

  <div id="wrapper">
    <!-- Sidebar -->
    {% include "widgets/sideBar.html" %}

    <div id="content-wrapper">

      <div class="container-fluid">
        

        <!-- Breadcrumbs-->
        {% include "widgets/breadCrumps.html" %}      

        <!-- Icon cards -->
        {% include "widgets/iconCards.html" %}

        <!-- Line graph -->
        {% include "widgets/lineGraph.html" %}

        <!-- Table Data -->
        {% include "widgets/dataTable.html" %}

        
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      {% include "widgets/footerModel.html" %}
      

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  {% include "widgets/scrollTop.html" %}
  

  <!-- Logout Modal-->
 

</body>
{% endblock %}